$smallDevice: 576px;

.ant-card-body,
.ant-card-actions {
  max-width: 1300px;
}

.ant-page-header-heading,
.ant-page-header-content {
  max-width: 1280px;
}

.ant-card .ant-card-actions {
  border-top: none;
}

.ant-menu-sub:not(.ant-menu-vertical) {
  margin-left: -5px;
}

.ant-menu-root {
  display: flex;
  flex-direction: column;

  .icons-holder {
    margin-top: auto;

    > .ant-space {
      justify-content: center;
      width: 100%;
    }
  }
}

.ant-layout-has-sider > .ant-btn-icon-only {
  margin-top: -20px;

  @media (max-width: $smallDevice) {
    margin-top: -50px;
  }
}

.ant-layout-header {
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (max-width: $smallDevice) {
    padding: 0;

    .ant-btn {
      padding-right: 0;
    }
  }

  @media (max-width: $smallDevice) {
    .logout-text {
      display: none;
    }
  }
}

.btn-vertical-align {
  > * {
    vertical-align: middle;
  }
}

.rjsf-form {
  .ant-alert {
    margin-bottom: 20px;
  }

  .ant-form-item-label > label {
    height: auto;
  }
}
.rjsf-form-dark {
  .ant-form-item-label > label,
  span {
    color: white;
  }

  .ant-input-affix-wrapper,
  .ant-input-number-affix-wrapper {
    background: transparent;
    border-color: #315895;

    input {
      color: white;
    }
  }
}

.ant-table .copy-to-clipboard-container {
  position: absolute;
}

.file-upload-button__text.file-upload-button__text {
  margin: 0;
  padding: 20px 0;
}

.file-upload-button__rjsf-form {
  margin-top: 20px;
}

.file-upload-button__modal {
  .rjsf-form {
    margin-top: 20px;
  }
}

.filter-dropdown__select {
  min-width: 200px;
}
